body 
{   
    font-family: "Raleway",sans-serif;
    overflow: hidden !important;
}
.home 
{
   background-image: url(/assets/homeBg.d8d1ab96.jpg);
   height: 130vh;
   background-size: 100% 100%;
   position: relative;
}

#loading
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #070603;
  z-index: 999999999999;
  
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
}
body{
    background:#262626;
}
ul{
   position: absolute;
   top: 50%;   width: 100%;   text-align: center;
   transform: translate(0,-50%);
}
ul li{
    list-style: none;
    display: inline-block;
    color: rgba(255,255,255,.2);
    font-size: 70px;
    margin: 14px;
    animation: animate 1.3s infinite linear;
}
@keyframes animate{
    0%{
        color: rgba(255,255,255,.2);
        text-shadow: none; 
    }
    90%{
        color: rgba(255,255,255,.2);
        text-shadow: none; 
    }
    100%{
        color: #ffbf00;
        text-shadow: 0 0 10px #ffbf00;
    }
}
ul li:nth-child(1){
    animation-delay: .2s;
}
ul li:nth-child(2){
    animation-delay: .4s;
}
ul li:nth-child(3){
    animation-delay: .6s;
}
ul li:nth-child(4){
    animation-delay: .8s;
}
ul li:nth-child(5){
    animation-delay: 1s;
}
ul li:nth-child(6){
    animation-delay: 1.2s;
}
ul li:nth-child(7){
    animation-delay: 1.4s;
}


























































.test h1
{
    font-size: 80px;
}
.test p
{
    font-size: 35px;
    color: #b8860b;
    font-family: 'Raleway', sans-serif;
    
}

.typewriter:before{border-right:2px solid white;
    content:"";
    display: inline-block;
    overflow: hidden;
    font-size: 1.7em;
    width:7em;
    white-space: nowrap;
    }
    
    .animated:before{animation:textCursor 500ms steps(14) infinite normal,
      typewriter 5s steps(20) 1s infinite alternate;
    
    }
    
    @keyframes textCursor{
      from{border-color:(255,255,255,.75)}
      to{border-color:transparent}
    }
        
    @keyframes typewriter{
        0%{width:0;content:" Web Developer"}
        40%{width:8em;content:"Web Developer"}
        60%{width:0;content:"Web Developer"}
        80%{width:8em;content:"UI/UX Designer"}
        100%{width:0;content:"UI/UX Designer"}
      }


      .content
      {
        position: absolute;
        top: 30%;
        left: 25%;
      }