
<body>
<section id="loading">
  <div class="load">
  <ul>
    <li>L</li>
    <li>O</li>
    <li>A</li>
    <li>D</li>
    <li>I</li>
    <li>N</li>
    <li>G</li>
</ul>
</div>
</section>




<header class="home">
      <div class="content">
        <div class="vh-100 text-center text-white">
          <div class="layer d-flex align-items-center justify-content-center">
            <div class="test">
        <h1 class="font-weight-bolder"> I Am Mohamed Refaat </h1>
        <p class="typewriter animated"></p>
        </div>
        </div>
  
      


 

