<section id="about">
    <div class="container">
      <div class="caption-2">
      <h1 class="font-weight-bolder text-white text-center p-3 animate__animated animate__rotateInDownRight">ABOUT ME </h1> 
      <div class="row">
        <div class="col-md-6 py-5">
          <img class="img-fluid animate__animated animate__lightSpeedInLeft" src="/assets/pro-pic.jpg">
        </div>
        <div class="col-md-6 py-5 text-center animate__animated animate__lightSpeedInRight">
        <h2 class="font-weight-bold text-white py-4">I Am Mohamed Refaat </h2>
        <p class="text-white py-1">A well rounded front end web developer freelancer who studies communication engineering at modern academy. Interpersonal skills, commitment and work ethic are three factors describing me. I seek continuous learning & improvement because that’s how I’ll keep my work’s sustainability.</p>
        <button class="btn btn-warning m-3">HIRE ME</button>
        <br>
       <a href="https://wa.me/+0201014283131" target="_blank"><i class="fab fa-whatsapp float-left fa-border rounded-circle ml-3  about-icon "></i> </a>  
       <a href="https://www.instagram.com/mohamed_refaat21/" target="_blank"> <i class="fab fa-instagram float-left fa-border rounded-circle ml-3  about-icon "></i></a> 
      <a href="https://www.facebook.com/mohamed.refaat20/" target="_blank"><i class="fab fa-facebook float-left fa-border rounded-circle ml-3  about-icon"></i> </a> 
       <a href="https://www.linkedin.com/in/mohamed-refaat-41bb191aa/" target="_blank"><i class="fab fa-linkedin-in float-left fa-border rounded-circle ml-3 about-icon"></i> </a> 
        </div>
    </div>
    </div>
    </div>
  </section>
