#skills
{
background-image: url(/assets/1.jpg);
background-size: 100% 100%;
    height: 90vh;

}

.cgol 
{
    color: #b8860b ;
}
 h1::before
{
    content: "";
    background-color: #b8860b;
    position: absolute;
    top: 100%;
    left: 19%;
    width: 10%;
    height: 5px;
    margin-left: 25%;
}

