<section id="skills">
    <div class="container py-5">
      <div class="caption">
    <h1 class="font-weight-bolder text-center text-white animate__animated animate__rotateInDownLeft">MY-SKILLS</h1>
    <p class="text-white text-center py-2">I CAN TAKE RESPONSIBILITY FOR ONE PART OF YOUR PROJECT, OR DELIVER THE WHOLE SOLUTION.</p>
      <div class="row">
         <div class="col-md-2 text-center cgol py-5 animate__animated animate__heartBeat poe ">
            <i class="fab fa-html5 fa-5x py-2"></i>
            <h4>HTML</h4>
         </div> 
         <div class="col-md-2 text-center cgol py-5 animate__animated animate__heartBeat">
            <i class="fab fa-css3-alt fa-5x py-2"></i>
            <h4>CSS</h4>
         </div>
         <div class="col-md-2 text-center cgol py-5 animate__animated animate__heartBeat">
            <i class="fab fa-js-square fa-5x py-2"></i>
            <h4>JS</h4>
         </div>
         <div class="col-md-2 text-center cgol py-5 animate__animated animate__heartBeat">
            <i class="fab fa-bootstrap fa-5x py-2"></i>
            <h4>BOOTSTRAP</h4>
         </div>
         <div class="col-md-2 text-center cgol py-5 animate__animated animate__heartBeat">
            <i class="fab fa-sass fa-5x py-2"></i>
            <h4>SASS</h4>
         </div>
         <div class="col-md-2 text-center cgol py-5 animate__animated animate__heartBeat">
            <i class="fab fa-angular fa-5x py-2"></i>
            <h4>ANGULAR</h4>
         </div>
         <div class="col-md-2 text-center cgol py-4 animate__animated animate__heartBeat">
            <i class="fab fa-php fa-5x py-2"></i>
            <h4>PHP</h4>
         </div>
         <div class="col-md-2 text-center cgol py-4 animate__animated animate__heartBeat">
          <i class="fab fa-python fa-5x py-2"></i>
          <h4>PYTHON</h4>
       </div>
         <div class="col-md-2 text-center cgol py-4 animate__animated animate__heartBeat">
          <i class="fab fa-github fa-5x py-2"></i>
            <h4>GITHUB</h4>
         </div>
         <div class="col-md-2 text-center cgol py-4 animate__animated animate__heartBeat">
            <i class="fab fa-laravel fa-5x py-2"></i>
            <h4>LARAVEL</h4>
         </div>
         <div class="col-md-2 text-center cgol py-4 animate__animated animate__heartBeat">
            <i class="fab fa-wordpress-simple fa-5x py-2"></i>
            <h4>WORDPRESS</h4>
         </div>
         <div class="col-md-2 text-center cgol py-4 animate__animated animate__heartBeat">
          <i class="fab fa-node-js fa-5x py-2"></i>
          <h4>NODE JS</h4>
       </div>
      </div>  
    </div>
    </div>
    </section>
