<section id="works">
    <div class="container">
     <div class="caption-3">
       <h1 class="font-weight-bolder text-white text-center p-5 animate__animated animate__zoomIn">MY WORKS </h1> 
     </div>
     <div class="row">
       <div class="col-md-8 m-auto">

                 <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators w-50">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/assets/w-1.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="https://flamboyant-hamilton-9258c2.netlify.app/" target="_blank"><i class="fas fa-search-location fa-2x text-white ml-3"></i> </a>
                        <h6 class="ml-3">PREVIEW</h6> 
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/w-2.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="https://lucid-goldwasser-b070b3.netlify.app/" target="_blank"><i class="fas fa-search-location fa-2x text-white ml-3"></i> </a> 
                        <h6 class="ml-3">PREVIEW</h6> 
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/w-3.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="https://quizzical-kalam-53a8b9.netlify.app/" target="_blank"><i class="fas fa-search-location fa-2x Fact ml-3"></i> </a> 
                        <h6 class="ml-3 Fact">PREVIEW</h6> 
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/pro3.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="https://confident-lewin-f803ca.netlify.app/" target="_blank"><i class="fas fa-search-location fa-2x Fact2 ml-3"></i> </a> 
                        <h6 class="ml-3 din">PREVIEW</h6> 
                      </div>
                    </div> 
                    <div class="carousel-item">
                      <img src="/assets/W-5.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="
                        https://keen-dubinsky-c605ab.netlify.app/" target="_blank"><i class="fas fa-search-location fa-2x text-white ml-3"></i> </a> 
                        <h6 class="ml-3">PREVIEW</h6> 
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/W-6.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="https://competent-haibt-02a4b8.netlify.app/" target="_blank"><i class="fas fa-search-location fa-2x text-white ml-3"></i> </a> 
                        <h6 class="ml-3">PREVIEW</h6> 
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/pro1.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="
                        https://brave-benz-c68b5b.netlify.app/" target="_blank"><i class="fas fa-search-location fact3 fa-2x text-white ml-3"></i> </a> 
                        <h6 class="ml-3 fin">PREVIEW</h6> 
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/w-7.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="       
             https://603623b673a707c958ceaf26--jovial-torvalds-e569e0.netlify.app/" target="_blank">
                   <i class="fas fa-search-location fact3 fa-2x text-white ml-3"></i> </a> 
                   <h6 class="ml-3 fin">PREVIEW</h6> 
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/w-9.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="text-center">
                        </div>
                        <a href="
                        https://festive-mccarthy-1b26ab.netlify.app/" target="_blank"><i class="fas fa-search-location fa-2x text-white ml-3"></i> </a> 
                        <h6 class="ml-3">PREVIEW</h6> 
                      </div>
                    </div>
                 